backend:
  name: github
  repo: julocsc/Shani  # usa tu propio repo aquí
  branch: main
  auth_scope: repo  
  base_url: https://decap-oauth.vercel.app
  auth_endpoint: /api/auth
  client_id: Ov23liKnBFdyJfPfzfYu
local_backend: true

media_folder: "images"
public_folder: "/images"

locale: 'es'

collections:
  - name: "mascota"
    label: "Mascota"
    files:
      - label: "Datos de la Mascota"
        name: "datos"
        file: "index.html"
        fields:
          - { label: "Nombre", name: "nombre", widget: "string" }
          - { label: "Descripción", name: "descripcion", widget: "text" }
          - { label: "WhatsApp", name: "whatsapp", widget: "string" }
          - { label: "Imagen", name: "imagen", widget: "image" }
